<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    
   	<!-- Configuring the dependent object-->
   	<bean id='fFlight' class="in.ineuron.comp.FirstFlightImpl"/>   	
   	<bean id='dtdc' class="in.ineuron.comp.DTDCImpl"/>   	
   	<bean id='bDart' class="in.ineuron.comp.BlueDartImpl"/>   	
   	
   
   	<!-- Configuring the target object-->
   	<bean id='fpkt' class="in.ineuron.comp.Flipkart">
   		<property name="courier" ref="bDart"/>
   		<property name="discount" value="30.0f"/>
   	</bean>
				
</beans>

